:root {
  /* Text */
  font-size: 18px;
  letter-spacing: 2px;

  /* Colors */
  --clr-black: #141115;
  --clr-brown: #352e37;
  --clr-white: #f4eded;
  --clr-green-dark: #254a4a;
  --clr-green-light: #36827f;
  --clr-purple: #a288a6;
  --clr-yellow: #f9db6d;
  --clr-orange-light: #f46036;
  --clr-orange-dark: #e93c0c;

  /* Units */
  --nav-height: 80px;
}
