@import './constants.css';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2.5vmin 4rem;

  width: 100%;
}

.hero-intro {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-orange-light);

  margin-bottom: 0.5rem;

  transition: all 0.2s ease;
}

.hero-intro:hover {
  color: var(--clr-orange-dark);
}

.hero-header {
  font-size: 4rem;
  max-width: 600px;
  line-height: 1.25;
}

.hero-presentation {
  font-size: 2rem;
  max-width: 600px;

  margin: 1rem 0 2rem;
}

.hero-cta {
  /* background-color: var(--clr-orange-light); */
  border: 1px solid var(--clr-orange-light);
  border-radius: 25px;
  padding: 0.5rem 1rem;

  font-size: 1.2rem;
  color: var(--clr-orange-light);

  display: flex;

  transition: all 0.2s ease;
}

.hero-cta:hover {
  border: 1px solid var(--clr-orange-dark);
  color: var(--clr-orange-dark);
}

.hero-cta-arrow {
  overflow: hidden;

  transform: translateY(-1.5px);

  width: 0px;
  color: var(--clr-orange-light);

  transition: all 0.2s ease;
}

.hero-cta:hover > .hero-cta-arrow {
  color: var(--clr-orange-dark);
  width: 18px;
}

@media screen and (max-width: 425px) {
  .hero {
    padding: 2.5vmin 2.5vmin 10vmin;
  }

  .hero-intro {
    font-size: 7vmin;

    margin-bottom: 0.5rem;
  }

  .hero-header {
    font-size: 12.5vmin;

    max-width: 250px;

    margin-bottom: 0.5rem;
  }

  .hero-presentation {
    font-size: 7vmin;

    max-width: 350px;

    margin: 0.5rem 0 2rem;
  }

  .hero-cta {
    font-size: 5vmin;

    padding: 0.5rem 1rem;
  }

  .hero-cta-arrow {
    width: 18px;
  }
}
