@import 'constants.css';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;

  height: var(--nav-height);
  width: 100%;
}

.nav-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
  max-width: 1080px;

  padding: 0 2.5vmin;

  background-color: var(--clr-black);
}

.nav-list,
.nav-list li {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

.nav-list-link {
  color: var(--clr-white);
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  padding: 0 1.5vmax;
}

.nav-list-link:hover {
  color: var(--clr-white);
  text-decoration: underline 2px solid var(--clr-white);
  text-underline-offset: 8px;
}

.nav-lang-btn {
  display: flex;

  border: none;
  outline: none;
  background-color: transparent;

  padding: 0 1.5vmin;
  border-radius: 15px;

  cursor: pointer;

  color: var(--clr-white);

  transition: all 0.15s ease;
}

.nav-lang-btn:hover {
  background-color: var(--clr-brown);
}

.nav-lang-btn-hamburger {
  margin-top: 5vh;
}

.hamburger-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  margin: 0 1vmax;

  transition: all 0.4s ease;
}

.hamburger-btn:hover {
  background-color: var(--clr-brown);
}

.active-hamburger {
  transform: rotate(270deg);
}

.hamburger-bar {
  background-color: var(--clr-white);
  border-radius: 5px;

  position: absolute;

  width: 30px;
  height: 4px;

  transition: all 0.4s ease;
}

.bar-top {
  top: 12px;
}

.bar-bottom {
  bottom: 12px;
}

.active-top {
  transform: rotate(-45deg);
  top: 22px;

  animation: burger-bar 0.7s ease forwards;
}

.active-mid {
  background-color: transparent;
  width: 0px;
  /* transform: translateX(48px); */
}

.active-bottom {
  transform: rotate(45deg);
  bottom: 22px;

  animation: burger-bar 0.7s ease forwards;
}

.hamburger-wrapper {
  position: absolute;
  top: var(--nav-height);
  /* left: 0;
  right: 0; */

  height: calc(100vh - var(--nav-height));
  padding-top: 1rem;

  overflow: hidden;

  background-color: var(--clr-black);

  animation: wrapper-active 0.3s ease forwards;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: calc(100% - var(--nav-height));
  max-height: calc(600px - var(--nav-height));

  padding-bottom: 5rem;

  background-color: var(--clr-black);

  animation: wrapper-active 0.3s ease forwards;
}

.hamburger-link {
  width: 100vw !important;
}

@keyframes wrapper-active {
  from {
    opacity: 0;
    width: 0px;

    right: -100vw;
  }
  to {
    opacity: 1;
    width: 100vw;

    right: 0;
  }
}

@keyframes burger-bar {
  0% {
    width: 30px;
  }
  50% {
    width: 2px;
  }
  100% {
    width: 30px;
  }
}
