$clr-bg-primary: #141115;
$clr-bg-secondary: #352e37;
$clr-text-primary: #f4eded;
$clr-tertiary-dark: #254a4a;
$clr-tertiary-light: #36827f;
$clr-purple: #a288a6;
$clr-yellow: #f9db6d;
$clr-accent-light: #f46036;
$clr-accent-dark: #e93c0c;
