@import './constants.scss';

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  padding: 2.5vmin 2.5vmin 10vmin;

  .about-body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .about-body-cell {
      margin-bottom: 3rem;

      .about-header {
        font-size: 3rem;
        font-weight: 800;

        margin-bottom: 0.5rem;
      }

      .about-paragraph {
        font-size: 1.4rem;

        max-width: 650px;

        margin-bottom: 1rem;
      }

      .about-img {
        float: right;
        transform: rotate(10deg);

        width: 41%;
        max-width: 350px;
        height: auto;

        margin-top: 0.25rem;
        margin-left: 2rem;
        margin-right: 1rem;
        margin-bottom: 3rem;

        border-radius: 10px;
        border: 4px solid white;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .about-cta {
    border-radius: 25px;
    padding: 0.5rem 1rem;

    font-size: 1.2rem;

    display: flex;

    transition: all 0.2s ease;
  }

  .about-cta-arrow-container {
    overflow: hidden;

    transform: translateY(-2px);

    width: 0px;

    transition: all 0.2s ease;
  }

  .about-cta-arrow {
    font-size: 0.8rem;
  }

  .about-cta:hover > .about-cta-arrow-container {
    width: 18px;
  }
}

@media screen and (max-width: 425px) {
  .about-content {
    display: flex;
    flex-direction: column;

    .about-header {
      text-align: center !important;

      width: 100%;
    }

    .about-paragraph {
      font-size: 5.8vmin !important;
    }

    .about-img {
      display: none;
    }
  }
}
