@import './constants.scss';

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100vh - var(--nav-height));
  /* min-height: 650px; */
}

.msg-sent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50vh;
}

.msg-sent-prompt {
  font-size: 2rem;
}

.send-another-btn {
  margin-top: 0.75rem;

  padding: 0.25rem 0.8rem;

  cursor: pointer;

  border: none;
  border-radius: 25px;

  transition: all 0.15s ease;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.input-text,
.input-msg,
.input-calculate {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  padding-left: 0.25rem;

  margin: 0.75rem 0;

  font-weight: 200;
  letter-spacing: 1px;

  border: none;
  border-radius: 5px;

  outline: none;
}

.input-text,
.input-calculate {
  height: 2rem;
}

.input-msg {
  padding-top: 0.25rem;
  padding-bottom: 5rem;

  overflow-wrap: break-word;
}

.input-calculate {
  margin-bottom: 0.25rem;
}

.input-submit {
  margin-top: 0.75rem;

  padding: 0.5rem 1rem;

  cursor: pointer;

  border: none;
  border-radius: 25px;

  transition: all 0.15s ease;
}

.form-validation-info {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(150, 150, 150);

  width: 100%;
  min-width: 200px;
  max-width: 400px;

  text-align: center;

  margin: 0.25rem 0 0.75rem 0;
}

@media screen and (max-width: 425px) {
  .form-content {
    padding: 0 1rem;
  }

  .form-h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .input-text,
  .input-calculate {
    height: 1.5rem;
  }

  .input-text,
  .input-msg,
  .input-calculate {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  .input-submit {
    font-size: 0.9rem;

    margin-top: 0;
  }
}
