@import './constants.scss';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2.5vmin 4rem;

  width: 100%;
}

.hero-intro {
  display: flex;

  font-size: 2rem;
  font-weight: 400;

  margin-bottom: 0.5rem;

  transition: all 0.2s ease;

  .hero-emoji {
    display: inline-block;
    margin-left: 1rem;

    font-size: 1.9rem;

    color: transparent;
    transform: scale(0);

    .hero-emoji-question-one,
    .hero-emoji-question-two,
    .hero-emoji-aha {
      font-size: 0.75rem;
      color: transparent;

      position: absolute;

      animation: emoji-pops 8s ease infinite;
    }

    .hero-emoji-question-one {
      top: -0.25rem;
      left: -0.25rem;

      transform: rotate(-45deg);

      animation-delay: 1s;
    }

    .hero-emoji-question-two {
      top: 0;
      right: -0.2rem;

      transform: rotate(45deg);

      animation-delay: 3s;
    }

    .hero-emoji-aha {
      top: -0.5rem;
      left: 0.25rem;
      right: 0;

      animation-delay: 5s;
    }
  }

  &:hover {
    .hero-emoji {
      animation: emoji-hover-anim 1s ease forwards;
    }
  }
}

@keyframes emoji-hover-anim {
  0% {
    color: inherit;
  }
  15% {
    transform: scale(1.3) translateY(-10%) rotate(360deg);
  }
  30% {
    transform: scale(0.75) rotate(360deg);
  }
  50% {
    transform: scale(1.1) rotate(360deg);
  }
  75% {
    transform: scale(0.9) rotate(360deg);
  }
  100% {
    color: inherit;
    transform: scale(1) rotate(360deg);
  }
}

@keyframes emoji-pops {
  0% {
    color: transparent;
  }
  10% {
    color: inherit;
  }
  30% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}

.hero-header {
  font-size: 4rem;
  max-width: 600px;
  line-height: 1.25;
}

.hero-presentation {
  font-size: 2rem;
  max-width: 600px;

  margin: 1rem 0 2rem;
}

.hero-cta {
  border-radius: 25px;
  padding: 0.5rem 1rem;

  font-size: 1.2rem;

  display: flex;

  transition: all 0.2s ease;
}

.hero-cta-arrow-container {
  overflow: hidden;

  transform: translateY(-2px);

  width: 0px;

  transition: all 0.2s ease;
}

.hero-cta-arrow {
  font-size: 0.8rem;
}

.hero-cta:hover > .hero-cta-arrow-container {
  width: 18px;
}

@media screen and (max-width: 425px) {
  .hero {
    padding: 5vmin 2.5vmin;
  }

  .hero-intro {
    font-size: 7vmin;
    font-weight: 600;

    line-height: 1;
  }

  .hero-header {
    font-size: 15vmin;

    max-width: 80vw;

    margin-bottom: 0.5rem;

    line-height: 1;
  }

  .hero-presentation {
    font-size: 7vmin;

    max-width: 350px;

    margin: 0.5rem 0 1.5rem;
  }

  .hero-cta {
    font-size: 5vmin;

    padding: 0.5rem 1rem;
  }

  .hero-cta-arrow-container {
    width: 18px;
  }
}
