@import 'constants.scss';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;

  height: var(--nav-height);
  width: 100%;
}

.nav-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
  max-width: 1080px;

  padding: 0 2.5vmin;
}

.nav-list,
.nav-list li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list-link {
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1.5vmax;

  position: relative;
}

.nav-list-text {
  padding: 0.25rem;

  background-size: 0% 2px;
  background-position: 50% 100%;
  background-repeat: no-repeat;

  transition: all 0.3s ease;
}

.nav-list-link:hover {
  .nav-list-text {
    background-size: 100% 2px;
  }
}

.nav-lang-btn {
  display: flex;

  border: none;
  outline: none;
  background-color: transparent;

  padding: 0 1.5vmin;
  border-radius: 15px;

  cursor: pointer;

  transition: all 0.15s ease;
}

.nav-theme-btn {
  border: none;
  outline: none;
  background-color: transparent;

  padding: 0 1.5vmin;
  border-radius: 15px;

  cursor: pointer;

  transition: all 0.15s ease;
}

.hamburger-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  margin: 0 1vmax;

  transition: all 0.5s ease;
}

.active-hamburger {
  transform: rotate(270deg);
}

.hamburger-bar {
  border-radius: 5px;

  position: absolute;

  width: 30px;
  height: 4px;

  transition: all 0.4s ease;
}

.bar-top {
  top: 12px;
}

.bar-bottom {
  bottom: 12px;
}

.active-top {
  transform: rotate(-45deg);
  top: 22px;

  animation: burger-bar 0.8s ease forwards;
}

.active-mid {
  background-color: transparent;
  width: 0px;
  /* transform: translateX(48px); */
}

.active-bottom {
  transform: rotate(45deg);
  bottom: 22px;

  animation: burger-bar 0.8s ease forwards;
}

.hamburger-wrapper {
  position: absolute;
  top: var(--nav-height);
  /* left: 0;
  right: 0; */

  height: calc(100vh - var(--nav-height));
  padding-top: 1rem;

  overflow: hidden;

  animation: wrapper-active 0.4s ease forwards;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;
  height: calc(100% - var(--nav-height));

  animation: wrapper-active 0.4s ease forwards;
}

.hamburger-link {
  width: 100% !important;
}

.nav-site-options {
  display: flex;
  padding-right: 1.5vmax;
}

.nav-site-options button:last-child {
  margin-left: 1.5vmax;
}

@keyframes wrapper-active {
  from {
    opacity: 0;
    width: 0px;

    right: -100vw;
  }
  to {
    opacity: 1;
    width: 100vw;

    right: 0;
  }
}

@keyframes burger-bar {
  0% {
    width: 30px;
  }
  50% {
    width: 2px;
  }
  100% {
    width: 30px;
  }
}
